.bar {
    background: rgba(255, 255, 255, 1);
    height: 1em;
    /* border-radius: 1em; */
}

.border {
    height: 1em;
    border-width: 0.1em;
    overflow: hidden;
}

.container {
    border-color: rgba(255, 255, 255, 0.7);
    height: 0.9em;
    background-color: rgba(255, 255, 255, 0.1);
    border-width: 0.1em;
}