.bar {
    background: rgba(255, 255, 255, 1);
}

.bar-classic {
    background: rgba(0, 0, 0, 1);
}

.border {
    border-width: 0.1em;
    overflow: hidden;
}

.container {
    border-color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
    border-width: 0.1em;
}

.container-classic {
    border-color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.1);
    border-width: 0.1em;
}

.label {
    font-weight: bold;
}