.bar {
    background: rgba(255, 255, 255, 1);
}

.bar-classic {
    background: rgba(40, 40, 40, 1);
}

.border {
    border-width: 0.1em;
    overflow: hidden;
}

.container {
    border-color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
    border-width: 0.1em;
}

.container-classic {
    border-color: rgba(40, 40, 40, 0.7);
    background-color: rgba(40, 40, 40, 0.1);
    border-width: 0.1em;
}

.label {
    font-weight: bold;
}

.pie {
    -pie-border-color: rgba(255, 255, 255, 0.7);
    -pie-color: rgba(255, 255, 255, 1);
    -pie-background-color: rgba(255, 255, 255, 0.2);
    -pie-border-width: 0.1em;
}

.pie-classic {
    -pie-border-color: rgba(40, 40, 40, 0.7);
    -pie-color: rgba(40, 40, 40, 1);
    -pie-background-color: rgba(40, 40, 40, 0.2);
    -pie-border-width: 0.1em;
}